/* frontend/styles/dashboard.css */
.dashboard__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  color: #c6d7f2;
}

.dashboard__container {
  max-width: 960px;
  margin: 0 auto;
  width: 100%;
  padding: 12px 16px 24px;
  backdrop-filter: blur(2px);
}
